<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
				<li><%= link_to "Picojazz Sample App" , root_path ,id:"logo" %></li>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Accueil" , root_path %></li>
					<li><%= link_to "Aide" , help_path %></li>
					<% if logged_in? %>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					Compte <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
					
					<li><%= link_to "Profile", current_user %></li>
					<li><%= link_to "Parametres", '#' %></li>
					<li class="divider"></li>
					<li>
					<%= link_to "Se deconnecter", logout_path, method: :delete %>
					</li>
					</ul>
					</li>
					<% else %>
					<li><%= link_to "Se connecter" , login_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>